#!/usr/bin/env zsh

# For abbr, see https://zsh-abbr.olets.dev/

# Easier navigation: .., ..., ...., ....., ~ and -
abbr -S --quieter ..="cd .."
abbr -S --quieter ...="cd ../.."
abbr -S --quieter ....="cd ../../.."
abbr -S --quieter .....="cd ../../../.."
abbr -S --quieter ~="cd ~" # `cd` is probably faster to type though
abbr -S --quieter -="cd -"
abbr -S --quieter dot="cd ~/dotfiles"

# ls
abbr -S --quieter -f ls="eza --icons --tree --level=1 --long --header --time-style=long-iso --group-directories-first"
abbr -S --quieter    la="eza --icons --tree --level=1 --long --header --time-style=long-iso --group-directories-first --all"

# Vim
abbr -S --quieter n='nvim'

# Git
function git_current_branch_name() { git rev-parse --abbrev-ref HEAD }
abbr -S --quieter gd='git diff'
abbr -S --quieter gst='git status'
abbr -S --quieter gb='git branch'
abbr -S --quieter gbd='git branch -D'
abbr -S --quieter gco='git checkout'
abbr -S --quieter gcob='git checkout -b'
abbr -S --quieter gcom='git checkout main'
abbr -S --quieter glg='git log --pretty=format:"%C(yellow)%H%Creset (%G?) %C(green reverse) %an %Creset [%cd] %C(cyan)%ar%Creset %s %C(green)%d%Creset" --date=format:"%Y/%m/%d %H:%M:%S" --graph'
abbr -S --quieter gsta='git stash'
abbr -S --quieter gr='git reset HEAD'
abbr -S --quieter grhch='git reset --hard HEAD^'
abbr -S --quieter grhih='git reset --hard HEAD'
abbr -S --quieter grsch='git reset --soft HEAD^'
abbr -S --quieter ga='git add'
abbr -S --quieter gaa='git add .'
abbr -S --quieter gcm='git commit'
abbr -S --quieter gcmsg='git commit -m "%ABBR_CURSOR_MARKER%"'
abbr -S --quieter gcam='git commit --amend'
abbr -S --quieter gcf='git commit --fixup'
abbr -S --quieter gf='git fetch'
abbr -S --quieter gpl='git pull'
abbr -S --quieter gp='git push'
abbr -S --quieter gpf='git push -f'
abbr -S --quieter grb='git rebase'
abbr -S --quieter grbi='git rebase -i'
abbr -S --quieter grbc='git rebase --continue'
abbr -S --quieter grba='git rebase --abort'
abbr -S --quieter grbs='git rebase --skip'
abbr -S --quieter gchp='git cherry-pick'
abbr -S --quieter gchpc='git cherry-pick --continue'
abbr -S --quieter gchpa='git cherry-pick --abort'
abbr -S --quieter gchps='git cherry-pick --skip'

# Git UI
abbr -S --quieter gui='gitui'
abbr -S --quieter lg='lazygit'

# Tmux
abbr -S --quieter t='tmux'
abbr -S --quieter tl='tmux ls'
abbr -S --quieter ta='tmux a -t'
abbr -S --quieter tre='tmux rename -t'
abbr -S --quieter tk='tmux kill-session -t'

# Docker
abbr -S --quieter dk='docker'
abbr -S --quieter dkc='docker compose'
abbr -S --quieter dkcrn='docker compose run --rm'
abbr -S --quieter dkcex='docker compose exec'
abbr -S --quieter dkcrs='docker compose restart'

# Software update
abbr -S --quieter update="softwareupdate -i -a; mas upgrade; brew update; brew upgrade; brew cleanup; sheldon lock --update; gh extension upgrade --all; npm update -g"

# Reload the shell (i.e. invoke as a login shell)
abbr -S --quieter reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
abbr -S --quieter path='echo -e ${PATH//:/\\n}'
